.footer {
  background: linear-gradient(90deg, #224623 0%, #1a341a 100%);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #FFFFE4;
  overflow-y: auto;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.footerSection {
  flex: 1;
  padding: 1rem;
  min-width: 250px;
}

.footerSection h2 {
  font-weight: normal;
  width: 150px;
  margin: -.25rem 4.25rem;
  margin-bottom: 26px;
  text-align: left;
  font-size: 20px;
}

.footerSection a {
  color: #FFFFE4;
  text-decoration: none;
  margin: -.25rem 4.4rem;
  margin-bottom: .75rem;
  display: block;
  font-size: 12.5px;
  text-align: left;
}

.footerSection a:hover {
  color: #0467FB;
  transition: 0.3s ease-out;
}

.contactInfo h2 {
  font-weight: normal;
  margin: -.25rem -.125rem;
  margin-bottom: 26px;
  text-align: left;
  font-size: 20px;
}

.contactInfo p {
  font-size: 12.5px;
  margin: .5rem 0;
  text-align: left;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.socialIconLink {
  color: #FFFFE4;
  font-size: 24px;
  margin-right: 16px;
  margin-top: 40px;
}

.websiteRights {
  color: #FFFFE4;
  margin-top: 21.6px;
  font-size: 12.5px;
  text-align: left;
  width: 100%;
}

.linkedinSection a {
  color: #FFFFE4;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 16.2px;
  margin: .5rem 0;
}

@media (max-width: 768px) {
  .footerContainer {
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerSection, .contactInfo {
    display: none;
  }

  .socialMedia, .websiteRights {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  
  .socialIconLink {
    margin: 0;
  }
}
