.missionContainer {
    padding: 100px;
    background-color: #fffff0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.missionContainer h2 {
    font-size: 2rem;
    font-weight: 450;
    color: #313639 ;
    margin-bottom: 40px; /* Increased margin for more space */
    text-align: center;
}

.missionContainer p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin-bottom: 40px;  
}

.mission-btns {
    margin-top: 32px;
 }
  
.mission-btns .btn {
    margin: 6px;
}

