.partnersContainer {
    margin-top: -2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    min-height: 300px; 
    padding-top: 108px;
    padding-bottom: 108px; 
    overflow-y: auto;
}

.partnersContainer::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/Wonder_Lake_and_Denali.jpg') center center/cover no-repeat;
    z-index: -11;
    opacity: 0.25;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.partnersContainer h2 {
    font-weight: 450;
    position: absolute;
    top: 20px; 
    font-size: 35px;
    z-index: 1;
    color: #313639;
}

.partnersLogos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 15px; 
    width: 80%;
    margin-top: 54px; 
    padding: 5px; 
}

.partnerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; 
    flex: 1 1 125px;
    max-width: 150px;
    box-sizing: border-box; 
    opacity: 0.85;
}

.partnerLogo img {
    width: 100%; 
    height: auto; 
    object-fit: contain;
}

.partnerLogo p {
    margin-top: 10px;
    text-align: center;
    color: #313639;
}

@media (max-width: 768px) {
    .partnersLogos {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 54px; 
        width: 80%; 
        padding: 5px;
    }

    .partnerLogo {
        flex: 1 1 auto; 
        max-width: 100px; 
    }
}
